# Build
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
.agent
*.iml
*.iws
.project
GEMINI.md
.factorypath
.classpath
.settings/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env.local
application-local.yml

# Logs
*.log
logs/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
